<!DOCTYPE html>
<html>
<head>
<title>Thatformworks!</title>
<meta name="viewport" content="width=device-width; initial-scale=1.0">
</head>

<center><body style="background-color: gray">
<img src="/static/logo.png" alt="Thatformworks" style="width: 220px">
<p style="color: white; font-family: sans-serif">Whatever form you just filled, it worked!</p>
<p style="color: white; font-family: sans-serif">And you can thank <a style="color: white" href="https://savirsingh.github.io">Savir Singh</a> for making Thatformworks!</p>
<button onclick="window.location.href='javascript:history.back()'" style="background: white; color: black; padding: 24px">Go back</button>
</body></center>